# Node modules
node_modules/

# NPM logs
npm-debug.log
yarn-error.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Firebase cache
.firebase/

# Local env files
.env
.env.local
.runtimeconfig.json
